@font-face {
    font-family: "Playfair Display";
    src: url("../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
