:root {
  --tablet: 768px;
  --desktop: 1024px;
  --design-color: #0891b2;
  --font-family-1: "Playfair Display", sans-serif;
  --font-family-2: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

.background-shape {
  background-color: var(--design-color);
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  transform: skewy(-20deg);
  top: -75%;
}

/* ========== HEADER SECTION ========== */

.header-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header-photo-container {
  position: relative;
}

.header-photo {
  width: 90%;
  display: block;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.author-name {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 10px 20px;
  font-size: clamp(3rem, 10vw, 5rem);
  font-family: var(--font-family-1);
}

.header-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header-title {
  font-size: 3rem;
  font-family: var(--font-family-1);
}

.header-description {
  font-family: var(--font-family-2);
  font-size: 1.6rem;
  line-height: 1.5;
  color: rgb(68, 68, 68);
}

.icon-container {
  display: flex;
  gap: 20px;
}

.header-icon {
  height: 40px;
  aspect-ratio: 1;
}

/* ========== MAIN SECTION ========== */

main {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.main-title {
  font-size: 3rem;
  font-family: var(--font-family-1);
  text-align: center;
  margin-bottom: 40px;
}

.project-container {
  display: flex;
  padding: 0 30px;
  flex-direction: column;
  gap: 50px;
}

.project-content {
  padding: 20px 30px 60px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-name {
  font-size: 1.7rem;
  padding-left: 10px;
  font-family: var(--font-family-1);
}

.project-description {
  font-size: 1.2rem;
  line-height: 1.4;
  font-family: var(--font-family-2);
  color: rgb(68, 68, 68);
}

.project-photo {
  width: 100%;
  display: block;
}

.project-icons {
  display: flex;
  gap: 10px;
}

.project-icon {
  height: 25px;
  width: 25px;
}

/* ========== FOOTER SECTION ========== */

.footer-mail-icon,
.footer-phone-icon {
  display: none;
}

footer {
  background-color: var(--design-color);
  color: white;
  display: flex;
  flex-direction: column;
}

.footer-content {
  padding: 20px;
  font-family: var(--font-family-2);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-title {
  text-align: center;
  font-size: 3rem;
  font-family: var(--font-family-1);
}

.footer-description {
  font-size: 1.7rem;
}

.footer-address,
.footer-phone,
.footer-email {
  font-size: 1.3rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 20px 0 50px 0;
}

.footer-icon {
  height: 45px;
  width: 45px;
}

.footer-image {
  width: 100%;
}

/* ========== MEDIA QUERIES ========== */

@media only screen and (min-width: 1024px) {

  .background-shape {
    transform: skewy(-10deg);
  }

  .footer-mail-icon,
  .footer-phone-icon {
    display: block;
    height: 30px;
  }

  .footer-mail-container,
  .footer-phone-container {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .footer-email,
  .footer-email {
    font-size: 1.1rem;
  }

  .main-title {
    margin-bottom: 50px;
  }

  .wrapper {
    padding: 30px;
    width: min(100% - 100px, 800px);
    margin: 0 auto;
  }

  .project-container {
    padding: 0;
    display: grid;
    row-gap: 70px;
    grid-template-columns: repeat(2, 1fr);
  }

  .author-name {
    font-size: 2rem;
    white-space: nowrap;
    bottom: 20px;
  }

  .header-container {
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    gap: 0;
  }

  .header-text-container {
    width: min(100% - 20px, 500px);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    gap: 50px;
    align-items: flex-start;
  }

  .header-photo-container {
    width: min(100% - 20px, 360px);
  }

  .header-photo {
    width: 100%;
  }

  .icon-container {
    margin-left: auto;
  }

  .header-title {
    font-size: 2rem;
  }

  .header-description {
    font-size: 1rem;
  }

  .header-icon {
    height: 30px;
  }

  .footer-content {
    padding: 0;
  }

  footer {
    justify-content: center;
    flex-direction: row;
    padding: 30px;
    gap: 30px;
  }

  .footer-image {
    width: min(100vw - 20px, 450px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .footer-title {
    text-align: left;
  }

  .footer-icons {
    justify-content: flex-start;
  }

  .footer-icon {
    height: 35px;
    width: 35px;
  }

  .footer-description {
    font-size: 1.3rem;
  }

  .footer-address {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: min(100% - 100px, 1400px);
  }

  .header-description {
    font-size: 1.3rem;
  }

  .header-title {
    font-size: 2.5rem;
  }

  .project-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .author-name {
    font-size: 2.5rem;
    bottom: 20px;
  }

  .header-photo-container {
    width: min(100% - 20px, 400px);
  }

  .header-text-container {
    width: min(100% - 20px, 700px);
  }
}
