:root {
  --second-bg-color: #0891b2;
  --font-family-1: "Playfair Display", sans-serif;
  --font-family-2: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  margin: 30px;
  padding-bottom: 100px;
}

.header-image-container {
  width: 95%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.header-name {
  font-family: var(--font-family-1);
  line-height: 1.4;
  position: absolute;
  top: 60%;
  left: 15px;
  font-size: 14vw;
  color: white;
  text-wrap: wrap;
  width: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.header-image {
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.background-shape {
  position: absolute;
  background-color: var(--second-bg-color);
  width: 100%;
  height: calc(80% + 40vw);
  top: -50%;
  transform-origin: 0;
  left: 0;
  transform: skewY(-30deg);
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-title,
.main-title {
  font-family: var(--font-family-1);
  text-align: center;
  font-size: 2.8rem;
}

.header-description {
  font-family: var(--font-family-2);
  font-size: 1.5rem;
  line-height: 1.4;
  color: rgb(70, 70, 70);
}

.header-icon-container {
  display: flex;
  gap: 20px;
}

.header-logo {
  height: 35px;
  cursor: pointer;
}

.footer-icon-container {
  display: flex;
  margin-top: 20px;
  gap: 30px;
}

.footer-logo {
  height: 45px;
}

.main {
  margin: 30px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.project-container {
  display: grid;
  gap: 40px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 30px;
}

.card-title {
  font-size: 2rem;
}

.card > img {
  width: 100%;
}

.card-header {
  display: flex;
  padding: 5vw 10vw;
  align-items: center;
  justify-content: space-between;
}

.card-icons {
  display: flex;
  gap: 15px;
}

.card-description {
  padding: 10px;
  font-size: 1.3rem;
  line-height: 1.3;
}

.footer-image {
  height: 300px;
}

.card-icons > img {
  height: 30px;
}

.footer-text {
  background-color: var(--second-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer-title {
  font-family: var(--font-family-1);
  font-size: 3rem;
}

.footer-description {
  font-size: 1.5rem;
}

.footer-image {
  display: block;
  width: 100%;
  height: auto;
}

.footer-address,
.footer-phone,
.footer-mail {
  margin-right: auto;
}

.footer-text {
  padding: 30px 30px 100px 30px;
  color: white;
}

.footer {
  background-color: var(--second-bg-color);
}

@media (max-width: 430px) {
  .background-shape {
    top: -60%;
  }

  .header,
  .main {
    margin: 15px;
  }

  .footer-text {
    padding: 15px 15px 80px 15px;
  }

  .card-title {
    font-size: 7vw;
  }

  .card-description {
    font-size: 5vw;
  }

  .card-icons {
    gap: 10px;
  }
}

@media (min-width: 768px) {

  .header {
    background-color: white;
    padding: 50px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .header-image-container {
    float: left;
    width: 40%;
  }

  .header-name {
    font-size: 2rem;
  }

  .header-title {
    font-size: 1.5rem;
  }

  .header-description {
    font-size: 1rem;
  }

  .header-icon-container {
    display: none;
  }

  .footer {
    display: grid;
    gap: 30px;
    grid-template-columns: 2fr 2fr;
    padding-top: 40px;
  }

  .footer-text {
    align-items: start;
    padding-bottom: 40px, 10vw, 100px;
  }

  .footer-icon-container {
    gap: 20px;
    margin: 0;
  }
  
  .footer-logo {
    height: 35px;
  }

  .footer-title {
    font-size: 2rem;
  }

  .footer-description {
    font-size: 1.2rem;
  }
  
  .footer-image {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-height: clamp(300px, 45vw, 700px);
    justify-self: center;
    width: auto;
  }

  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-header,
  .card-description {
    padding: 1vw 3vw;
  }

  .main,
  .header {
    margin: 30px 80px;
  }

  .card {
    padding-bottom: 50px;
  }

  .card-description {
    font-size: 1rem;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .main {
    gap: 20px;
  }

  .project-container {
    grid-row-gap: 80px;
  }

  .card-icons {
    gap: 10px;
  }

  .card-icons > img {
    height: 20px;
  }

  .main-title {
    margin-right: auto;
  }
}
